<section>
    <ul>
        <li>usuario 1 <button class="admin-btn">Edit</button> <button class="admin-btn">Delete</button></li>
        <li>usuario 1 <button class="admin-btn">Edit</button> <button class="admin-btn">Delete</button></li>
        <li>usuario 1 <button class="admin-btn">Edit</button> <button class="admin-btn">Delete</button></li>
        <li>usuario 1 <button class="admin-btn">Edit</button> <button class="admin-btn">Delete</button></li>
        <li>usuario 1 <button class="admin-btn">Edit</button> <button class="admin-btn">Delete</button></li>
        <li>usuario 1 <button class="admin-btn">Edit</button> <button class="admin-btn">Delete</button></li>
        <li>usuario 1 <button class="admin-btn">Edit</button> <button class="admin-btn">Delete</button></li>
        <li>usuario 1 <button class="admin-btn">Edit</button> <button class="admin-btn">Delete</button></li>
        <li>usuario 1 <button class="admin-btn">Edit</button> <button class="admin-btn">Delete</button></li>
    </ul>
</section>